<section
  class="modal-cocktails change-theme is-hidden"
  data-modal
  id="modal-cocktails"
>
  <div class="wrapper-modal-cocktails">
    <button class="close-modal-cocktails cocktails-close" data-modal-close>
      <svg class="svg-close-modal-cocktails" width="22" height="22">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="js-modal-cocktails list"></ul>
    <div class="js-modal-cocktails"></div>
    <div class="modal-cocktails-card-buttons">
      <ul class="modal-cocktails-buttons list">
        <li class="modal-cocktails-buttons-item">
          <button type="button" class="modal-button modal-button-favorite">
            ADD TO FAVORITE
          </button>
        </li>
        <li class="modal-cocktails-buttons-item">
          <button
            type="button"
            class="modal-button modal-button-back"
            data-modal-close
          >
            BACK
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
