<section>
  <div class="container">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi ut
      accusantium beatae nam laudantium, blanditiis adipisci. Sed mollitia
      dignissimos suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iste totam
      ipsa molestiae asperiores recusandae fugiat quibusdam dignissimos ad amet.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, nobis
      saepe vitae error nihil modi quia vero perspiciatis tempora nemo.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iste totam
      ipsa molestiae asperiores recusandae fugiat quibusdam dignissimos ad amet.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, nobis
      saepe vitae error nihil modi quia vero perspiciatis tempora nemo.
    </p>
  </div>
</section>
