body {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  background-image: url('../img/body-bg/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--l-m-dark);
}
body.dark {
  background-image: url('../img/body-bg/background-dark.jpg');
  color: var(--white);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
