.cocktails {
  padding-top: 50px;
  padding-bottom: 100px;
  color: var(--l-m-dark);
}
/* dark mode style+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.cocktails.dark-mode {
  color: var(--white);
}
.search__form {
  margin-bottom: 40px;
}
.search__title {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}
.cocktails__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .cocktails {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .cocktails__list {
    row-gap: 32px;
    column-gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .cocktails__list {
    row-gap: 44px;
    column-gap: 24px;
  }
}

.cocktails__item {
  padding: 14px 14px 14px 20px;
  background-color: var(--white);
  border-radius: 16px;
  width: 335px;
  transition: all var(--t-dur) var(--t-tf);
}

.cocktails__item:hover {
  box-shadow: rgba(126, 143, 221, 0.5) 0px 19px 38px,
    rgba(126, 143, 221, 0.4) 0px 15px 12px;
}
/* dark mode style+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.cocktails.dark-mode li,
.favor__list.dark-mode li {
  background-color: var(--d-m-dark);
}
.cocktails__item :not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .cocktails__item {
    padding-bottom: 24px;

    margin-bottom: 0;

    width: 344px;
  }
}

@media screen and (min-width: 1280px) {
  .cocktails__item {
    width: 344px;
  }
}

.cocktails__item__img {
  width: 100%;
  max-width: 316px;
  height: 289px;
  margin-bottom: 20px;
  border-radius: 16px;
}

.cocktails__item__header {
  margin-bottom: 14px;
}

.cocktails__item__description {
  max-width: 296px;
  margin: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cocktails__btn__container {
  height: 48px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.learnmore__btn {
  width: 232px;
  height: 48px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #7e8fdd;
  color: inherit;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color var(--t-dur) var(--t-tf),
    color var(--t-dur) var(--t-tf);
}
.learnmore__btn:hover {
  background-color: var(--color-accent);
  color: var(--white);
}
.svg__btn {
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
  border: transparent;
  border-radius: 12px;
  background: #7e8fdd;
}
.svg-heart,
.svg-trash {
  width: 24px;
  height: 24px;
  pointer-events: none;
  fill: transparent;
  transition: all var(--t-dur) var(--t-tf);
}

.cocktails__svg {
  width: 18px;
  height: 18px;
}
.add_favorites_js .svg-heart {
  fill: transparent;
}
.remove_favorites_js .svg-heart {
  fill: #fdfdff;
}
