.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 374.98px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 32px;
  }
}
