.svg-icon{
    pointer-events: none;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
 .favor__item{
        padding: 14px 14px 14px 20px;
        }
        .favor__item :not(:last-child){
            margin-bottom: 20px;
            }
        
       
      @media screen and (min-width:768px) {
        .favor__item{
            padding-bottom: 24px;
      
            margin-bottom: 0;
      
            width:calc((100% - 2 * 16px) / 3);
      
        }
      }
      
      @media screen and (min-width:1280px) {
         .favor__item{
      
            width:calc((100% - 2 * 16px) / 4);
      }
      }
      
      @media screen and (min-width:768px) {
        .favor__list{
            display: flex;
            flex-wrap: wrap;
            row-gap: 32px;
            column-gap: 16px;
        }
        }
        @media screen and (min-width:1280px) {
            .favor__list{
                row-gap: 44px;
                column-gap: 24px;
            }
            }
        
      