.search {
  padding-top: 100px;
}
.buton-letters.active {
  background-color: var(--tab);
}
.search-input-container {
  position: relative;
  width: 334px;
  margin-left: auto;
  margin-right: auto;
}
.search-input {
  display: block;
  width: 100%;
  height: 44px;
  border: 2px solid var(--color-accent);
  border-radius: 80px;
  margin: 0 auto;
  padding-left: 30px;
  outline: none;
  transition: box-shadow var(--t-dur) var(--t-tf);
  background-color: transparent;
}
.search-input:focus {
  box-shadow: 10px 5px 5px var(--color-accent);
}
/* dark mode style+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.search-input.dark-mode {
  color: var(--white);
}
.search-input::placeholder {
  font-family: inherit;
}
.search-input::placeholder.dark-mode {
  color: #fff;
}

.icon-search {
  fill: var(--l-m-dark);
  position: absolute;
  left: 10px;
  top: 14px;
  width: 16px;
  height: 16px;
}
/* dark mode style+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.icon-search.dark-mode {
  fill: var(--white);
}
.buton-letters {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(126, 143, 221, 0.4);
  border: none;
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  transition: background-color var(--t-dur) var(--t-tf);
}

.buton-letters:hover,
.buton-letters:active {
  background-color: var(--tab);
}

.container-letters {
  max-width: 904px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  row-gap: 16px;
  column-gap: 8px;
  padding: 20px 0;
}

.letters-select {
  display: block;
  width: 90px;
  height: 34px;

  margin: 0 auto;
  border: 1px solid var(--d-m-bg);
  border-radius: 8px;
  background-color: rgba(126, 143, 221, 0.4);
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
}

.is-hidden {
  display: none;
}
@media screen and (max-width: 767.98px) {
  .search {
    padding-top: 10px;
  }
}
